:root {
    --title-1: 'Rubik Mono One', sans-serif;
    /* colors */
    --primary-100: #e2e0ff;
    --primary-200: #c1beff;
    --primary-300: #a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;

    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    /* rest of the colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
}

.bg-primary-500 {
    background: var(--primary-500);
}

/* navbar */

.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}


/* Global Styles */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: var(--title-1)
}

/* Hero section */
.hero {
    background-color: #f5f6f7;
    min-width: 450px;
    text-align: center;
}

.hero-main {
    padding: 3rem;
}

.hero-image-developer {
    width: 200px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
}

.hero-main h2 {
    font-size: 1.5rem;
    color: #615151;
}

/*=========
About Me
===========*/

.dark-section {
    background: #1b1b32;
    color: var(--white);
}








/* responsive adaptative styles */

@media screen and(max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-bottom-img {
        max-width: 600px;
    }
}